/*************** GLOBAL STYLES ***************/
/*************** GLOBAL STYLES ***************/
/*************** GLOBAL STYLES ***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1400px;
}

/*************** HEADER SECTION *******************/
/*************** HEADER SECTION *******************/
/*************** HEADER SECTION *******************/
.liveservice-bgimg {
    width: 100%;
    height: 800px;
    background-image: url(rectangle3a.jpg);
    background-size: cover;
    background-position: center;
}

.live {
    padding-top: 270px;
}

.footer-close {
    margin-top: 385px;
}






/***************** MEDIA QUERIES *******************/
/***************** MEDIA QUERIES *******************/
/***************** MEDIA QUERIES *******************/

/************* FOR MEDIUM SCREENS *****************/
@media (min-width: 768px) and (max-width: 992px) {
    .mobile-bgcolor {
        background-color: #000;
    }

    .liveservice-bgimg {
        background-image: url(rectangle3a.jpg);
        background-size: cover;
        background-position: center;
    }

}


/***************** FOR SMALL SCREENS *******************/
@media (min-width: 577px) and (max-width: 767px) {
    .mobile-bgcolor {
        background-color: #000;
    }

    .liveservice-bgimg {
        background-image: url(rectangle3a.jpg);
        background-size: cover;
        background-position: center;
    }

    .footer-close {
        margin-top: 365px;
    }

}


/***************** FOR EXTRA SMALL SCREENS *******************/
@media (max-width: 576px) {
    .mobile-bgcolor {
        background-color: #000;
    }

    .liveservice-bgimg {
        background-image: url(rectangle3a.jpg);
        background-size: cover;
        background-position: center;
    }

    .footer-close {
        margin-top: 365px;
    }

}


/***************** FOR MICRO SCREENS *******************/
@media (max-width: 360px) {
    .footer-close {
        margin-top: 305px;
    }
}