/*************** GLOBAL STYLES ***************/
/*************** GLOBAL STYLES ***************/
/*************** GLOBAL STYLES ***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1400px;
}

/*************** HEADER SECTION *******************/
/*************** HEADER SECTION *******************/
/*************** HEADER SECTION *******************/
.compassion {
    margin-top: 150px;
}

.comp-para {
    font-size: 20px;
    color: #000;
}










/**************** for large screens ***************/
@media (min-width: 1200px) {
}
 
/**************** For medium screens ***************/
@media (min-width: 766px) and (max-width: 1199px) {
}
 
/**************** For small screens ***************/
@media (min-width: 577px) and (max-width: 765px) {
}
 
/**************** For extra small screens ***************/
@media (max-width: 576px) {
}

/**************** For micro screens ***************/
@media (max-width: 300px) {
}

